@charset "UTF-8";


* {
	margin: 0;
	font-family: 'Do Hyeon', sans-serif;
}

table {
	width: 100%;
}
table, th, td {
	border-bottom: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	font-size: 18px;
}


#adm_content {
	display: none;
	padding: 40px 50px;
	height: auto;
	boarder: gray solid 1px;
	padding: 40px 50px;
	
}

#admin_title {
	color: black;
	font-size: 40px;
}

#pageinfo {
	float: right;
}
#pageRows {
	margin-right: 20px;
	float: left;
}
#board_type, #board_tag {
	float: left;
	margin-bottom: 8px;
	margin-right: 5px;
}

td {
	padding: 10px 0;
}

th {
	padding: 10px 0;
	font-size:22px;
}

thead {
	background-color: rgba(115, 103, 240, 0.4);
}

tbody {
	background-color: rgba(218, 218, 218, 0.4);
}

/* table 영역 Container */
#NoticeContainer {
	height: auto;
}

.searchMember {
	float: left;
}

.selectPage {
	float: right;
}

#ntcWrite {
	background-color: #4F48EC;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 8px;
	color: #fff;
}

/* 모달 */

.modal .modal-notice {
	background-color: #fefefe;
	width: 40%;
	height: auto;  
	margin: 5% auto 15% auto;
	border-radius: 10px;
}

.modal .container {
	height: 350px;
	padding: 16px;
	position: relative;
}
.modal .write {
	margin-top: 5px;
	padding-top: 5px;
}
.modal .close { /* 닫기(x) 버튼 */
	font-size: 35px;
	font-weight: bold;
	color: #000;
	position: absolute;
	right: 25px;
	top: 0px;
}
/* [페이징] */
.center {
	text-align: center;
	backgroundcolor: black;
}

ul.pagination{
	list-style-type: none;
	color: black;
}

ul.pagination li{
	display: inline-block;
}

ul.pagination a {
	color: black;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	margin: 0px;
}

ul.pagination a.active {
	background-color: #847ef1;
	color: white;
	border: 1px solid #847ef1;
}

ul.pagination a:hover:not(.active) {background-color: #ddd;}
