@charset "UTF-8";

table {
	width: 100%;
}

table, th, td {
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	border-collapse: collapse;
	font-size: 18px;
}


/* board list */
#middle_menu {
	padding: 40px 50px;
}

#middle_menu h2 {
	font-size: 40px;
}

.selectMenu {
	margin: 0 0 10px 0;
	float: right;
}

select, option {
	font-size: 22px;
}

#middle_menu a:link, a:visited {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

td {
	padding: 10px 0;
}

th {
	padding: 10px 0;
	font-size: 22px;
}

thead {
	background-color: rgba(115, 103, 240, 0.4);
}


tbody {
	background-color: #f2f2f2;
}

#middle_menu button {
	background-color: #4F48EC;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 8px;
	color: #fff;
}

/* board view */
#board_view {
	padding: 40px 50px;
}

.content_btn {
	float: right;
}

.content_btn button {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 18px;
}

.content_btn button:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

#boardname {
	font-size: 23px;
	color: #FFBF18;
}

#content_name {
	font-size: 35px;
	margin-top: 25px;
}

#content {
	padding: 30px 35px;
}

#comment_area {
	margin-top: 30px;
}


/* comment */

.comment {
	padding: 20px 0;
}

#content {
	width: 92%;
}

#commentForm button {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 18px;
	float: right;
}

#commentForm button:hover {
	background-color: rgba(0, 0, 0, 0.4);
}


.footer {
	margin-top: 50px;
}
